*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

a {
  color: var(--primary);
  text-decoration: none;
  -webkit-tap-highlight-color: var(--secondary);
}

.image--cover img {
  @apply h-full w-full object-cover;
}

.object-contain img {
  object-fit: contain;
  object-position: left;
}

.container {
  @apply mx-auto my-0 px-4 md:px-6;
}
