*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: var(--primary);
  text-decoration: none;
  -webkit-tap-highlight-color: var(--secondary);
}

.image--cover img {
  @apply h-full w-full object-cover;
}

.object-contain img {
  object-fit: contain;
  object-position: left;
}
