@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Graphik";
    src: url("../public/fonts/Graphik-Regular.woff2") format("woff2");
    font-style: normal;
  }
  @font-face {
    font-family: "Graphik";
    src: url("../public/fonts/Graphik-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply bg-pink-light text-base text-black;
}

* {
  @apply box-border scroll-smooth focus-visible:outline-yellow motion-reduce:scroll-auto motion-reduce:transition-none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  @apply mx-auto;
}

.absolute--centered {
  @apply absolute inset-1/2 -translate-y-1/2	-translate-x-1/2;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  @apply hidden;
}

.swiper--homepage .swiper {
  @apply overflow-x-clip overflow-y-visible;
}

.container--small {
  @apply mx-auto space-y-5 py-12 px-4 lg:space-y-10 lg:py-16 lg:px-10 xl:container xl:py-20 2xl:px-28;
}

.container--standard {
  @apply mx-auto space-y-5 py-12 px-4 lg:space-y-10 lg:py-16 xl:container xl:py-24;
}

.image--cover img {
  @apply object-cover;
}

.blockGallery .swiper-button-next {
  @apply block h-[32px] w-[32px] bg-arrowDx bg-contain bg-no-repeat after:hidden;
}

.blockGallery .swiper-button-prev {
  @apply block h-[32px] w-[32px] rotate-180 bg-arrowDx bg-contain bg-no-repeat after:hidden;
}
