@layer base {
  @font-face {
    font-family: "Graphik";
    src: url("../public/fonts/Graphik-Regular.woff2") format("woff2");
    font-style: normal;
  }
  @font-face {
    font-family: "Graphik";
    src: url("../public/fonts/Graphik-Semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  @apply bg-pink-light text-base text-black;
}

* {
  @apply box-border scroll-smooth focus-visible:outline-yellow motion-reduce:scroll-auto motion-reduce:transition-none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  @apply mx-auto;
}

.absolute--centered {
  @apply absolute inset-1/2 -translate-y-1/2	-translate-x-1/2;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  @apply hidden;
}

.swiper--homepage .swiper {
  @apply overflow-x-clip overflow-y-visible;
}

.container--small {
  @apply mx-auto space-y-5 py-12 px-4 lg:space-y-10 lg:py-16 lg:px-10 xl:container xl:py-32 2xl:px-28;
}

.container--small-x {
  @apply mx-auto space-y-5 px-4 lg:space-y-10 lg:px-10 xl:container 2xl:px-28;
}

.container--standard {
  @apply mx-auto space-y-5 py-12 px-4 lg:space-y-10 lg:py-16 xl:container xl:py-24;
}

.image--cover img {
  @apply w-full object-cover;
}

.blockGallery .swiper-button-next {
  @apply block h-[32px] w-[32px] bg-arrowDx bg-contain bg-no-repeat after:hidden;
}

.blockGallery .swiper-button-prev {
  @apply block h-[32px] w-[32px] rotate-180 bg-arrowDx bg-contain bg-no-repeat after:hidden;
}

.prefix {
  @apply text-xs uppercase tracking-widest lg:text-sm;
}

th[scope="col"] {
  @apply min-w-[50px] px-1 text-xxs font-normal uppercase md:max-w-[150px] md:pb-3 md:text-xs md:font-semibold;
}

th[scope="row"] {
  @apply min-w-[190px] text-left text-xxs font-normal md:min-w-[400px] md:py-3 md:text-base;
}

tr {
  @apply h-9 border-y border-black/30 first:border-0;
}

@media (min-width: 768px) {
  .nth-child-3n:nth-child(3n + 3) {
    @apply border-r-0;
  }
}

.form__label {
  @apply sr-only;
}

.form__input {
  @apply block w-full border border-black p-2 text-sm text-black placeholder:text-black;
}

.form__error {
  @apply text-xs text-red-700;
}
